<% @products.each do |product| %>
    <div class="span3" >
      <div class="well text-center product_div">
        <div>
          <%= link_to 'Quick View','#',:class=> "quick_view", :id => "product_#{product.id}", :onmouseover => "fetch_product('#{product.id}')" %>
        </div>
        <div class="product_image">
          <%= link_to image_tag(product.image_url(:large)), product_path(product) %>
        </div>
        <strong><%= product.name %></strong>
      </div>
    </div>
<% end %>