<p id="notice"><%= notice %></p>

<h3 class="text-center">MEN'S FOOTWEAR</h3>

<div id="my-products" class="offset1">
  <%= render "products_list" %>
</div>

<!-- Modal Start -->
<div class="modal fade bs-example-modal myModal" tabindex="-1" role="dialog" aria-labelledby="registrationModal" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Product</h4>
      </div>
      <div class="modal-body">
        <div class="product_image">
          <%= image_tag '/images/fallback/large_default.png', :id => "image_place" %>
        </div>
        <p id="desc" >Product Description</p>
        <p><strong>Rs.<span id="price">4568</span></strong> </p>
      </div>
    </div>
  </div>
</div>
<!--Modal End -->

<div id="infinite-scrolling" style="display:none;">
  <%= will_paginate %>
</div>

<script>
     function fetch_product(product_id){
        $.ajax(
                {
                    dataType: "json",
                    cache: false,
                    type: 'post',
                    url: '/products/fetch_product?product_id='+product_id,
                    success: function(data)
                    {
                       $(".modal-title").html(data.name);
                       $("#desc").html(data.description);
                       $("#price").html(data.price);
                       $("#image_place").attr('src', data.image.large.url)
                       $('.myModal').modal('show');
                    }
                });

    };
</script>