$('#my-products').append('<%= j render "products_list" %>');
<% if @products.next_page %>
    $('.pagination').replaceWith('<%= j will_paginate @products %>');
<% else %>
    $(window).off('scroll');
    $('.pagination').remove();
<% end %>