<div class="span5">
    <h4><%= @product.name %></h4>
    <div class="product_image">
      <%= image_tag(@product.image_url(:large)) %>
    </div>

    <strong><%= @product.price %></strong>

    <p>
      <%= @product.description %>
    </p>

    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', root_path %>
</div>
