<!DOCTYPE html>
<html>
<head>
  <title>Shopping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to 'Shopping', root_path, :class=> 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Add Products", new_product_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <%= yield %>
</div>

</body>
</html>
